/* CALENDAR */

.calendar-box{
    background:white;
    padding:20px;
    border-radius:20px;
    margin-bottom:25px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.calendar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.calendar-header h2{
    margin:0;
}

.calendar-header button{
    width:45px;
    height:40px;
    padding:0;
    font-size:18px;
}

.today-btn{
    margin:15px 0;
    background:#6d8fd5;
}

.calendar-days,
.calendar-dates{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:6px;
}

.calendar-days div{
    text-align:center;
    font-weight:bold;
    padding:10px;
    background:#dce8f8;
    border-radius:7px;
}

.calendar-date{
    min-height:50px;
    border:1px solid #ddd;
    border-radius:8px;
    background:#fafafa;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    font-weight:bold;
}

.calendar-date:hover{
    background:#dce8f8;
}

.calendar-date.today{
    background:#6d8fd5;
    color:white;
}

.calendar-date.selected{
    outline:3px solid #e19ac4;
}

.calendar-date.empty{
    background:transparent;
    border:none;
    cursor:default;
}